/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

span {
    color: #e84b6d;
}

.btn-primary {
    background-color: #E55473;
    border: 0;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}
.btn-primary:hover{
    background-color: #fb2452;
}
.cart:hover{
    width: 33px;
}

/* header section */
header {
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner {
    max-width: 550px;
}

.banner-title {
    font-size: 45px;
    padding-bottom: 15px;
}

.banner-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 20px;
}

.banner-photo {
    width: 550px;
    height: 715px;
    padding-top: 50px;
    padding-bottom: 0px;
}

/* main section */
.featured {
    height: 100vh;
}

.featured-flowers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 80px;
}

.featured-title {
    text-align: center;
    padding: 50px 0 30px 0;
    font-size: 30px;
}

.featured-desc {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 300;
}

.featured-items1 {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    width: 314px;
    height: 408px;
}

.featured-items2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 314px;
    height: 408px;
}

.featured-items3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 314px;
    height: 408px;
}

.flower1 {
    height: 360px;
    padding: 48px 0px 20px 30px;
}

.flower2 {
    height: 310px;
    padding: 78px 30px 40px 20px;
}

.flower3 {
    height: 360px;
    padding: 48px 0px 20px 30px;
}

.flower-title {
    text-align: center;
}
.flower-title:hover{
    color:#E55473
}
/* bestseller section */
.best-flower1{
    width: 200px;
    border: 0;
    border-radius: 10px 10px 0 0;
}
.best-flower2{
    width: 200px;
    height: 250px;
    border: 0;
    border-radius: 10px 10px 0 0;
}
.best-flower3{
    width: 200px;
    height: 250px;
    border: 0;
    border-radius: 10px 10px 0 0;
}
.best-flower4{
    width: 200px;
    height: 250px;
    border: 0;
    border-radius: 10px 10px 0 0;
}
.cart{
    width: 30px;
}
.price-bar{
    display: flex;
    gap: 30px;
    padding: 20px;
    align-items: center;
}
.bestseller{
    display: flex;
    margin-left: 300px;
    gap: 30px;
    height: 60vh;
    padding-top: 40px;
}
.bestseller-content{
    border: 0;
    width: 200px;
    height:340px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(181, 181, 181);
}
.price{
    color: rgb(117, 116, 116);
    font-weight: 300;
    padding-top: 5px;
}
.bar-title{
    font-size: 15px;
}

/* deals section */
.deal-container {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    height: 80vh;
    align-items: center;
    justify-content: space-around;
    padding: 0px 90px;
}

.deal-txt {
    max-width: 400px;
    text-align: center;
}

.deal-title {
    font-size: 25px;
    padding-bottom: 20px;
}

.deal-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 20px;
}

/* instagram section */
.instagram-flowers {
    display: flex;
    justify-content: space-around;
    padding: 0 290px;
}

.instaflower {
    margin: 60px 0;
    width: 200px;
}
.instaflower:hover{
    box-shadow: 5px 5px 20px #ff7996;
}
/* subscribe section */
.subscribe {
    background-image: url('./Flower Asset/Rectangle\ 9.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 20px 300px 80px 300px;
    height: 200px;
    text-align: center;
    padding-top: 80px;
}

.subs-title {
    font-size: 25px;
    padding-bottom: 10px;
}

.subs-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 30px;
}

.subs-email {
    border: 0;
    border-radius: 5px;
    height: 35px;
    width: 500px;
    padding-left: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 100;
}
/* footer section */
footer{
    background-color: #111010;
    text-align: center;
    height: 50vh;
}
.footer-title{
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 130px;
}
.footer-desc{
    color: rgba(185, 185, 185, 0.9);
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 20px;
}
.trademark{
    color: rgba(188, 184, 184, 0.6);
    font-size: 10px;
    font-weight: 300;
    padding-bottom: 30px;
}